$grey: #666666;
$black_grey: #333333;
$grey_light: rgba(102, 102, 102, 0.8);

* {
  font-family: "Poppins";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: justify;
  color: $black_grey;
}
form {
  display: flex;
  flex-direction: column;
}

label {
  color: $grey;
}

input {
  border: 1px solid rgba(102, 102, 102, 0.35);
  border-radius: 0.75rem;
  height: 56px;
  padding-left: 5px;
  margin-bottom: 2em;
  color: $grey;
}

input[type="checkbox"] {
  margin-bottom: 0;
}

button {
  background-color: $black_grey;
  border-radius: 2rem;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  padding: 10px 20px;
  width: fit-content;
  align-self: center;
  border: 0px;
  margin: 2.5rem 0 0.5rem;
}

#signUpFromId1 {
  width: 100%;
  height: fit-content;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 37%,
    rgba(0, 212, 255, 1) 100%
  );
}

.form-container {
  padding: 2rem 2rem 0;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 70%;

  & .form-content {
    height: 100%;
  }
}

#title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
}
.log-in-text {
  margin-bottom: 1.5rem;
  align-self: "center";

  & a {
    text-decoration: underline;
    color: $black_grey;
  }
}

#hide {
  font-size: 18px;
  line-height: 27px;
  color: $grey_light;
  padding-left: 8px;
}

#unordered-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  & li {
    list-style: circle inside;
    color: $black_grey;
    font-size: 0.9rem;
  }
}

#agreement > a {
  text-decoration: underline;
  color: $black_grey;
  padding-bottom: 2rem;
}
#checkbox-container {
  margin: 2rem 0;
  align-items: center;

  & #checkbox-input {
    width: 20px;
    margin-right: 10px;
  }
}
#username_error,
#email_error {
  color: red;
  font-size: 0.75rem;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) {
  #signUpFromId1 {
    background: white;
  }

  .form-container {
    width: 100%;
  }

  #title {
    text-align: start;
  }
  .log-in-text {
    margin-bottom: 1rem;
  }
  button {
    margin: 2rem 0 0.5rem;
  }
}
