$grey: #666666;
$black_grey: #333333;
$grey_light: rgba(102, 102, 102, 0.8);

* {
  font-family: "Poppins";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: justify;
  color: $black_grey;
}
form {
  display: flex;
  flex-direction: column;
}

label {
  color: $grey;
}

input {
  border: 1px solid rgba(102, 102, 102, 0.35);
  border-radius: 0.75rem;
  height: 56px;
  padding-left: 5px;
  margin-bottom: 2em;
  color: $grey;
}

input[type="checkbox"] {
  margin-bottom: 0;
}

button {
  background-color: $black_grey;
  border-radius: 2rem;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  padding: 10px 20px;
  width: fit-content;
  align-self: center;
  border: 0px;
  margin: 1rem 0 0.5rem;
}

#signUpFromId1 {
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  background: rgb(215, 92, 204);
  background: linear-gradient(
    90deg,
    rgba(215, 92, 204, 1) 2%,
    rgba(67, 92, 213, 1) 28%,
    rgba(92, 184, 215, 1) 43%,
    rgba(252, 251, 254, 0.3342379188003326) 43%
  );
}

.form_container {
  padding: 0 2rem 0;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 57%;

  & .form_content {
    height: 100%;
  }
}

#title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
}
.log_in_text {
  margin-bottom: 1rem;

  & a {
    text-decoration: underline;
    color: $black_grey;
  }
}

#hide {
  font-size: 18px;
  line-height: 27px;
  color: $grey_light;
  padding-left: 8px;
}

#unordered_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  & li {
    list-style: circle inside;
    color: $black_grey;
    font-size: 0.9rem;
  }
}

#agreement > a {
  text-decoration: underline;
  color: $black_grey;
  padding-bottom: 1rem;
}
#checkbox_container {
  margin: 1rem 0;
  align-items: center;

  & #checkbox_input {
    width: 20px;
    margin-right: 10px;
  }
}
#username_error,
#email_error {
  color: red;
  font-size: 0.75rem;
}
.rc-anchor-light.rc-anchor-normal {
  border-radius: 8px;
}

.rc-anchor-light {
  color: #333333;
}
// Medium devices (tablets, 768px and up)
@media (max-width: 767px) {
  #signUpFromId1 {
    background: white;
  }

  .form_container {
    width: 100%;
  }

  #title {
    text-align: start;
  }
  .log_in_text {
    margin-bottom: 1rem;
  }
  button {
    margin: 1rem 0 0.5rem;
  }
}
